Flask==3.1.0
Flask-Cors==6.0.0
Flask-PyMongo==3.0.1
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
requests==2.32.3
beautifulsoup4==4.13.4
qrcode==7.4.2
reportlab==4.1.0
SQLAlchemy==2.0.40
Werkzeug==3.1.3